*{padding: 0;margin: 0;}

body {
    background-color: salmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
body::selection {
    background-color: #66b2b2;
}

/*********************************** NAVEGATION BAR */
nav{
    background-color:#66b2b2;
    color: #fff;
    min-height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.logo{
    font-size: 5rem;
    font-weight: bold;
    color: salmon;
    text-align: center;
}
nav ul li{
    display: inline-block;
    line-height: 2;
    background-color: salmon;
    border-radius: 10px;
}
nav ul li a {
    display: flex;
    color: #fff;
    font-size: 1.2rem;
    padding: 7px 10px;
    text-transform: uppercase;
    text-decoration: none;
    
}
#dp-allProjects a {
    border-top: 1px solid #fff;
}
a:active, a:hover {
    background-color: salmon;
    transition: -5%;
}
.dp-contact{
    line-height: 2;
}
@media (max-width: 900px) {
    nav ul li {
        margin: 5px;
    }
    nav ul li a { 
        font-size: 1rem;
        padding: 5px;
    }
    #dp-text {
        font-size: 1rem;
    }
}
 
/*********************************** NAVEGATION BAR DROPDOWN */
.dropdown {
    position: relative;
    display: inline-flex;
}
.dropdown-child {
    display: none;
    padding: 0 15px;
}
.dropdown-child a:visited{
   color: rgb(95, 91, 91);
}
.dropdown:hover .dropdown-child {
    display: inline;
    position: absolute;
    margin: 70px 0;
    background-color: #66b2b2;
    transition: -5%;
    border-radius: 10px;
}
.dropdown:hover #dp-contact {
    margin: 70px -200px;
    width: 250px;
}

/* CONTACT BUTTOM */
#dp-text {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
}
#dp-i {
    box-shadow: 2px 2px 1px 1px black;
    font-size: 1rem;
    width: 200px;
    height: 45px;
    text-align: center;
}
textarea {
    height: 200px;
    width: 200px;
    padding: 5px;
}
@media (max-width: 400px) {
    .dropdown {
        display: flex;
    }
    .dropdown:hover #dp-contact {
        margin: 40px -10px;
    }
    .logo {
        font-size: 3rem;
        padding-top: 55px;
    }
    nav ul li a, #dp-text {
        font-size: 0.75rem;
        line-height: 1.5;
    }
    #dp-i, textarea {
        width: 150px;
    }
    #dp-i {
        height: 30px;
    }
}

/*********************************** ALL HEADINGS */
h1 { 
    color: #fff;
    font-size: 3.5rem;
    padding: 40px 10%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
@media (max-width: 900px) {
    h1 {
        font-size: 2rem;
        padding: 10% 0;
    }
}
@media (max-width: 400px) {
    h1 {
        font-size: 1rem;
    }
}

/*********************************** ALL SECTIONS */
section {
    margin: 0 auto;
    background-color: #fff;
    min-height: 800px;
    max-width: 800px;
    border-radius: 10px;
    padding-top: 30px;
    box-shadow: 10px 10px 2px 1px teal;
    text-align: center;    
}
hr {
    margin-top: 60px;
}
label {
    color: salmon;
    font-weight: bold;
    font-size: 1.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media (max-width: 900px) {
    #main-section {
        margin: 0 5%;
    }
    label {
        font-size: 1rem;
    }
}

/*********************************** ALL BUTTONS */
.button {
    height: 50px;
    width: 120px;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: salmon;
    color: #fff;
    box-shadow: 2px 2px 1px 1px teal;
    margin: 10px;
}

@media (max-width: 400px) {
    .button {
        height: 35px;
        width: 100px;
        font-size: 0.75rem;
    }
}

/*********************************** AGE CHECK SECTION */
#age-check label {
    line-height: 2;
}
.year {
    box-shadow: 2px 2px 1px 1px black;
    font-size: 1rem;
    width: 120px;
    height: 45px;
    text-align: center;
    margin: 5px 0 5px 0;
}
.gender {
    padding-right: 30px;
}
.age-form {
    padding: 10px 0 10px 0;
}    
#res p {
    text-align: center;
}
#mal, #fem {
    accent-color: teal;
}
@media (min-width: 900px) {
    #age-check {
        padding: 3%;
    }
}

/*********************************** HOURS CHECK SECTION */
.data {
    text-align: right;
    margin-right: 40%;
}
#msg {
    padding-bottom: 80px;
}
#msg p {
    color: salmon;
}
@media (max-width: 800px) {
    #image {
        width: 180px;
    }
}

/*********************************** LET'S COUNT SECTION */
.data {
    width: 100%;
    line-height: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#btn-count {
    margin: 0 auto;
}
#counting input {
    box-shadow: 2px 2px 1px 1px black;
    font-size: 1rem;
    width: 120px;
    height: 45px;
    text-align: center;
}
#count-res {
    margin-top: 20px;
}

/*********************************** MULTIPLICATION TABLE SECTION */
#select {
    min-height: 400px;
    width: 80%;
    height: 500px;
    margin: 10% 0;
    font-size: 1.6rem;
    text-align: center;
}
#table-n {
    box-shadow: 2px 2px 1px 1px black;
    font-size: 1rem;
    width: 120px;
    height: 45px;
    text-align: center;
    margin-bottom: 20px;
}

/*********************************** ANALISING NUMBERS SECTION */
#a-num {
    box-shadow: 2px 2px 1px 1px black;
    font-size: 1rem;
    width: 120px;
    height: 45px;
    text-align: center;
    margin: 5px 0 5px 0;
    margin: 20px;
}
#list-tab {
    width: 80%;
    height: 200px;
    margin: 5% 0;
}

/*********************************** FOOTER */
footer {
    background-color:#66b2b2;
    color: #fff;
    height: 20px;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;

}
@media (max-width: 400px) {
    footer {
        font-size: 0.75rem;
    }
}
